# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# Distribution directories
dist/*

# Dependency directories
node_modules/*

# Dependency management
package-lock.json

# TypeScript cache
*.tsbuildinfo

# Typescript v1 declaration files
typings/

# IDE settings
.vscode
.idea

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Log file
/npm-debug.log